@import '../../variables';
.DaoCard {
  border: 2px solid $primary;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 50px;
  h4 {
    font-size: 32px;
    margin: 0px;
  }
  p:nth-child(3) {
    font-size: 0.85em;
    margin-bottom: 0;
  }
  span.Data {
    margin-top: 5px;
  }
  &:hover {
    background-color: $primary;
  }
}

.DaoName {
  word-wrap: break-word;
}
