@import '../../variables';
.DaoCard {
  background-color: $primary-background;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: $shadow;
  h4 {
    font-size: 28px;
    margin: 0px;
    font-weight: 400;
    color: white !important;
  }
  p:nth-child(3) {
    font-size: 0.85em;
    margin-bottom: 0;
  }
  span.Data {
    margin-top: 5px;
  }
  p { color: white !important; }
}

.DaoName {
  word-wrap: break-word;
}
