@import '../../../styles/variables';

.NotificationBar {
  width: 100%;
  background-color: $primary-background-hover;
  height: 100%;
  transition: all 0.15s linear;
  .Row {
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  p {
    color: white;
  }
  img {
    width: auto;
    height: 60px;
  }
  @media (max-width: $mobile) {
    .Row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 25px;
      p {
        text-align: center;
      }
    }
  }
  &.IsHidden {
    height: 0px;
  }
}
