@import '../../variables';

.Summon__hero {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 100px;
  padding-left: 150px;
  text-align: left;
  background-color: $primary-background;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  h1 {
    letter-spacing: 0.5em;
    font-weight: 900;
  }
}

.SummonStepOne__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.SummonStepOne__card {
  padding: 25px;
  background-color: $background;
  border: 2px solid transparent;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: $shadow;
  width: calc(33% - 50px);
  transition: all 0.15s linear;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: $grid + 1px) {
    &:not(:nth-child(3n)) {
      margin-right: 15px;
      width: calc(33% - 65px);
    }
  }
  > img {
    margin: 0 auto;
    display: block;
    svg path.stroke {
      fill: black;
    }
  }
  > p,
  > h4,
  > h5 {
    text-align: center;
  }
  > p {
    font-size: 0.85em;
  }
  &:hover {
    cursor: pointer;
    background-color: $background-hover;
  }
  &.isSelected {
    border-color: $primary-background;
    > p {
      margin: 0;
    }
    > h4,
    > h5 {
      color: white;
    }
  }
  @media (min-width: $mobile + 1px) and (max-width: $grid) {
    width: calc(50% - 50px);
    &:not(:nth-child(2n)) {
      margin-right: 15px;
      width: calc(50% - 65px);
    }
  }
  @media (max-width: $mobile) {
    width: calc(100% - 50px);
  }
}

.disabled,
.disabled:hover {
  //TODO: Not working on hard mode input button
  background-color: grey;
}

input:not([type='checkbox']).inline-field,
textarea.inline-field,
select.inline-field {
  width: unset;
  border: none;
  box-shadow: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  appearance: none;
  margin: 0;
}

.required-field {
  color: red;
  font-size: 10px;
}
