@import '../../variables';

.Summon__hero {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 100px;
  padding-left: 150px;
  text-align: left;
  background-color: $primary-background;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  h1 {
    letter-spacing: 0.5em;
    font-weight: 900;
  }
}

.SummonStepOne__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $mobile) {
    flex-direction: column;
    .ActivityCard {
      width: calc(100% - 50px) !important;
    }
  }
}

.SummonStepOne__card {
  padding: 25px;
  background-color: $primary-background;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: $shadow;
  width: calc(33% - 50px);
  &:not(:nth-child(3n)) {
    margin-right: 15px;
    width: calc(33% - 65px);
  }
  > p,
  > h4,
  > h5 {
    color: white;
  }
  > a > p {
    max-height: 300px;
    overflow: hidden;
    word-break: break-all;
  }
  &:hover {
    background-color: $primary-hover;
  }
}

.disabled,
.disabled:hover {
  //TODO: Not working on hard mode input button
  background-color: grey;
}

input:not([type='checkbox']).inline-field,
textarea.inline-field,
select.inline-field {
  width: unset;
  border: none;
  box-shadow: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  appearance: none;
  margin: 0;
}

.required-field {
  color: red;
  font-size: 10px;
}
