@import '../../variables';
.ApplicationList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
  @media (max-width: $mobile) {
    flex-direction: column;
  }
  &__Item {
    width: 30%;
    
    @media (max-width: $mobile) {
      width: 100%;
    }
    a {
      margin-top: 25px;
      margin-bottom: 25px;
      border: 2px solid #efefef;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      transition: all .15s linear;
      &:hover { scale: 1.05; }
    }
    .MemberInfo {
      justify-content: space-between;
      font-size: 0.85em;
      color: black;
      p { margin: 0 0 15px 0; }
      :nth-child(1) { margin-right: 10px; }
    }
    .PledgeInfo {
      justify-content: space-between;
      font-size: 0.85em;
      color: black;
      p { margin: 15px 0 0 0; }
      :nth-child(1) { margin-right: 10px; }
    }
  }
}
