@import '../../variables';

.Daolist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: scroll;
  &__Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    min-width: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    a:hover &--Title {
      transition: all 0.15s linear;
      color: $primary;
    }
    &--Title {
      margin: 0;
      margin-top: 10px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 120px;
      white-space: nowrap;
      color: $secondary;
    }
  }
}

.Daolist__Avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $tertiary;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  .NoteCount {
    position: absolute;
    top: 0;
    right: -10px;
  }
  &--Initial {
    position: absolute;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    margin: 0;
  }
}
