@import '../../variables';
.TopNav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: auto;
    width: calc(100% - 50px);
    padding: 25px;
    @media (max-width: $mobile) {
        //flex-direction: column;
    }
    .Brand {
        font-size: 36px;
        margin: 0;
        img {
            margin: 0;
            display: block;
            max-width: 240px;
            position: absolute;
            transform: rotate(-5deg);
            margin-left: -30px;
            @media (max-width: $mobile) {
                max-width: 160px;
            }
        }
    }
    button {
        height: 40px;
        font-size: 0.85em;
        padding: 0px 15px;
    }
}