@import '../../variables';
.TopNav {
    background-color: $primary-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: auto;
    width: calc(100% - 150px);
    padding: 25px 75px;
    @media (max-width: $mobile) {
        width: calc(100% - 50px);
        padding: 25px;
    }
    .Brand {
        font-size: 36px;
        margin: 0;
        img {
            margin: 0;
            display: block;
            max-width: 200px;
            @media (max-width: $mobile) {
                max-width: 160px;
            }
        }
    }
    button {
        font-size: 0.85em;
        padding: 5px 20px;
        font-weight: 600;
    }
}