.TopNav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: auto;
    width: calc(100% - 50px);
    padding: 25px;
    .Brand {
        font-size: 36px;
        margin: 0;
        img { margin: 0; display: block; max-width: 200px; }
    }
}

