.Intro {
    width: 100%;
}
.Help {
    width: 100%;
    position: relative;
    .Index {
        width: 320px;
        position: fixed;
        top: 102px;
        left: 0;
        padding-left: 25px;
    }
    .Sections {
        max-width: 600px;
        width: calc(100%);
    }
}