@import '../../variables';

.Intro {
    width: 100%;
}
.Help {
    width: 100%;
    position: relative;
    .Index {
        width: 320px;
        left: 0;
        padding-left: 25px;
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        float: left;
        h2 { 
            margin-top: 0px; 
            
        }
        ul {
            margin-left: 25px;
            padding: 0px;
            list-style: decimal;
            li { 
                margin-top: 15px; 
                appearance: none;
                font-weight: 700;
                font-size: 1.15em;
            }
        }
        @media (max-width: $grid){
            width: 100%;
            position: relative;
            float: none;
            padding-left: 0px;
            top: 0;
        } 
    }
    .Sections {
        max-width: 600px;
        width: calc(100%);
        margin-left: 420px;
        margin-top: 25px;
        .Section {
            margin-bottom: 50px;
            padding-bottom: 50px;
            border-bottom: 2px solid lighten($tertiary-hover, 15%);
            h2 {font-weight: 700;}
        }
        @media (max-width: $grid){
            margin-top: 75px;
            margin-left: 0px;
        } 
    }
}