@import '../../variables';

.Building__button {
  margin-top: 25px;
  &:disabled {
    background-color: $tertiary;
  }
}

.Building {
  display: flex;
  align-items: center;
  svg {
    display: inline-block;
    height: 28px;
    margin-right: 15px;
  }
}
