@import '../../variables';

.StatChart {
  width: 50%;
  canvas { width: 100%; }
}

.StatColumn {
  width: 50%;
}

.Stat_overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.GuildBank_overview {
  margin-bottom: 20px;
}

.Stat_group {
  text-align: left;
}

.Stat__title {
  font-size: 1em;
  font-weight: 700;
}

.Stat__value {
  font-size: 2em;
}

ul.react-tabs__tab-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-inline-start: 0;
}

li.react-tabs__tab {
  margin: 0 2vw 0 0;
  padding: 20px;
  &:hover {
    cursor: pointer;
  }
}

li.react-tabs__tab--selected {
  border-bottom: 2px solid $primary;
}
