@import '../../variables';

.ExploreFilters {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
}

.ExploreFilters__filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 50px;
}

.ExploreFilters__sort {
  width: 200px;
  margin-left: 50px;
}

.selected {
  background-color: $primary;
}
