@import '../../styles/variables';

.FilterBar {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
}

.ExploreFilters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 80px;
  flex-wrap: wrap;
  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding: 0px 25px;
    > div:nth-child(1) {
      flex-basis: 100%;
    }
    > div:nth-child(2) {
    }
    > div:nth-child(3) {
    }
  }
}

.ExploreFilters__sort {
  width: 300px;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 25px;
  padding-left: 25px;
  border-left: 2px solid $background;
  @media (max-width: $mobile) {
    margin: 0;
    padding: 0px;
    height: 80px;
    border: none;
  }
  > p {
    width: 80px;
  }
  .ExploreSort {
    width: 100%;
    > .ReactSelectContainer {
      height: 44px;
      margin: 0;
      padding: 0px;
      padding-top: 3px;
      .ReactSelect__control {
        &--is-focused {
          border: none;
          border-bottom: 2px solid $primary;
          .ReactSelect__single-value {
            color: $primary;
          }
        }
      }
      > div {
        height: auto;
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0px;
        cursor: pointer;
        transition: all 0.15s linear;
        .ReactSelect__single-value {
          color: $secondary;
          font-weight: 500;
        }
        &:hover {
          .ReactSelect__single-value {
            color: $primary;
          }
        }
      }
      input {
        height: auto;
        margin: 0;
        color: $secondary;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.ReactSelect__indicators {
  display: none !important;
}

.ExploreFilters__filters {
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding-left: 25px;
  border-left: 2px solid $background;
  height: 100%;
  flex-wrap: wrap;
  @media (max-width: $mobile) {
    margin: 0;
    padding: 0px 0px 25px 0px;
    height: auto;
    border: none;
    > p {
      flex-basis: 100%;
    }
  }
  > p {
    margin: 0;
  }
  .FilterList {
    @media (max-width: $mobile) {
      width: 100%;
    }
    .Trigger {
      margin-left: 25px;
      @media (max-width: $mobile) {
        margin-left: 0px;
      }
      cursor: pointer;
      transition: all 0.15s linear;
      padding: 5px 10px;
      border-bottom: 2px solid transparent;
      color: $secondary;
      height: 32px;
      display: flex;
      align-items: center;
      font-weight: 500;
      &:hover {
        color: $primary;
        border-bottom: 2px solid $primary;
      }
      &.Active {
        border-bottom: 2px solid $primary;
      }
      .ActiveFilters {
        border-radius: 25px;
        margin-left: 5px;
        padding: 3px 7px;
        border: 2px solid;
        font-size: 0.75em;
      }
    }
  }
}

.DropdownList {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  background: #fbfbf9;
  box-shadow: $shadow;
  min-width: 240px;
  width: auto;
  margin-top: 10px;
  > div {
    cursor: pointer;
    padding: 15px 15px;
    transition: all 0.15s linear;
    margin-bottom: 1px;
    color: $tertiary;
    &.selected {
      color: $primary;
    }
    &:hover {
      color: $secondary;
      background-color: $background;
    }
    button {
      margin-left: 15px;
      float: right;
    }
  }
}
