@import '../../variables';

.ActivityFeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ProfileActivityFeed__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.ActivityCard {
  padding: 25px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: $shadow;
  width: calc(33% - 50px);
  &:not(:nth-child(3n)) {
    margin-right: 15px;
    width: calc(33% - 65px);
  }
}

.ActivityCard__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: $tertiary;
}
