@import '../../variables';
.DaoList {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin: 0 auto;
  &__Item {
    width: 30%;
    max-width: 420px;
    margin-right: 25px;
      @media (max-width: $grid) {
        width: 45%;
        margin-right: 25px;
      }
      @media (max-width: $mobile) {
        width: 100%;
        margin-right: 0px;
        margin: 0 auto;
      }
  }
  a .DaoCard { 
    transition: all .15s linear; 
    height: auto; 
    min-height: 200px; 
  }
  a:hover .DaoCard { 
    background-color: $orange; 
    scale: 1.05;
    h4, p { color: white !important; }
  }
}