.BoostPackages__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BoostPackages__custom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
