//Color Palette
$primary: #001aff;
$yellow: #f1fe5c;
$red: rgb(254, 92, 92);
$background: black;
$primary-background: #020436;

$mobile: 768px;

$mobile-padding: 25px;
$base-padding: 50px;
$large-padding: 100px;
