//Color Palette
$primary: #513E97;
$secondary: #0E99C4;
$tertiary: #4EBD9E;
$blue: #001aff;
$yellow: #f1fe5c;
$red: #F05F61;
$background: black;

$primary-background: #020436;

$mobile: 768px;

$mobile-padding: 25px;
$base-padding: 50px;
$large-padding: 100px;
