@import 'variables';

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

body {
    font-size: 16px;
    font-family: 'Futura', sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: left;
    word-wrap: pre-line;
}

a {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

button, .Button {
    display: block;
    appearance: none;
    outline: none;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 15px 25px;
    font-size: 1em;
    cursor: pointer;
}

// Typography
.Data {
    font-family: 'Roboto Mono', monospace;
}

.AuthButton {
    display: block;
}

.View {
    padding: $base-padding;
}

.Form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    padding: $base-padding;
    button { margin: 0 auto; }
}

.Label {
    font-size: 0.85em;
    margin-bottom: 0px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.Value {
    margin-top: 5px;
    font-size: 1.35em;
}

p.Large {
    font-size: 1.35em;
}