@import '../../variables';

.ErrorText {
    color: white;
}

.AuthButton {
    img {
        width: 28px;
        vertical-align: middle;
    }
    @media (max-width: $mobile) {
        span { display: none; }
    }
}